/* Nunito Bold */
@font-face {
    font-family: 'Nunito bold';
    font-style: normal;
    font-weight: 400;
    src: url('/sass/tipographias/Nunito-Bold.ttf');
}

/* Nunito Bold */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('/sass/tipographias/Nunito-Regular.ttf');
}

/* Nunito Bold */
@font-face {
    font-family: 'Nunito semibold';
    font-style: normal;
    font-weight: 400;
    src: url('/sass/tipographias/Nunito-SemiBold.ttf');
}